@charset "utf-8";
/* emoji_face */
.emoji_face{margin-right:-1px;overflow:hidden;width:435px; border-top:1px solid #f0f0f0; border-left:1px solid #f0f0f0;}
.emoji_facea{background:url(../img/2TuBgdx.png) no-repeat;border-bottom:1px solid #f0f0f0;border-right:1px solid #f0f0f0;cursor:pointer;float:left;font-size:0;height:28px;text-indent:-999em;width:28px;}
.emoji_face .emoji0{background-position:0 1px;}
.emoji_face .emoji1{background-position:-29px 1px;}
.emoji_face .emoji2{background-position:-58px 1px;}
.emoji_face .emoji3{background-position:-87px 1px;}
.emoji_face .emoji4{background-position:-116px 1px;}
.emoji_face .emoji5{background-position:-145px 1px;}
.emoji_face .emoji6{background-position:-174px 1px;}
.emoji_face .emoji7{background-position:-203px 1px;}
.emoji_face .emoji8{background-position:-232px 1px;}
.emoji_face .emoji9{background-position:-261px 1px;}
.emoji_face .emoji10{background-position:-290px 1px;}
.emoji_face .emoji11{background-position:-319px 1px;}
.emoji_face .emoji12{background-position:-348px 1px;}
.emoji_face .emoji13{background-position:-377px 1px;}
.emoji_face .emoji14{background-position:-406px 1px;}
.emoji_face .emoji15{background-position:0 -28px;}
.emoji_face .emoji16{background-position:-29px -28px;}
.emoji_face .emoji17{background-position:-58px -28px;}
.emoji_face .emoji18{background-position:-87px -28px;}
.emoji_face .emoji19{background-position:-116px -28px;}
.emoji_face .emoji20{background-position:-145px -28px;}
.emoji_face .emoji21{background-position:-174px -28px;}
.emoji_face .emoji22{background-position:-203px -28px;}
.emoji_face .emoji23{background-position:-232px -28px;}
.emoji_face .emoji24{background-position:-261px -28px;}
.emoji_face .emoji25{background-position:-290px -28px;}
.emoji_face .emoji26{background-position:-319px -28px;}
.emoji_face .emoji27{background-position:-348px -28px;}
.emoji_face .emoji28{background-position:-377px -28px;}
.emoji_face .emoji29{background-position:-406px -28px;}
.emoji_face .emoji30{background-position:0 -57px;}
.emoji_face .emoji31{background-position:-29px -57px;}
.emoji_face .emoji32{background-position:-58px -57px;}
.emoji_face .emoji33{background-position:-87px -57px;}
.emoji_face .emoji34{background-position:-116px -57px;}
.emoji_face .emoji35{background-position:-145px -57px;}
.emoji_face .emoji36{background-position:-174px -57px;}
.emoji_face .emoji37{background-position:-203px -57px;}
.emoji_face .emoji38{background-position:-232px -57px;}
.emoji_face .emoji39{background-position:-261px -57px;}
.emoji_face .emoji40{background-position:-290px -57px;}
.emoji_face .emoji41{background-position:-319px -57px;}
.emoji_face .emoji42{background-position:-348px -57px;}
.emoji_face .emoji43{background-position:-377px -57px;}
.emoji_face .emoji44{background-position:-406px -57px;}
.emoji_face .emoji45{background-position:0 -86px;}
.emoji_face .emoji46{background-position:-29px -86px;}
.emoji_face .emoji47{background-position:-58px -86px;}
.emoji_face .emoji48{background-position:-87px -86px;}
.emoji_face .emoji49{background-position:-116px -86px;}
.emoji_face .emoji50{background-position:-145px -86px;}
.emoji_face .emoji51{background-position:-174px -86px;}
.emoji_face .emoji52{background-position:-203px -86px;}
.emoji_face .emoji53{background-position:-232px -86px;}
.emoji_face .emoji54{background-position:-261px -86px;}
.emoji_face .emoji55{background-position:-290px -86px;}
.emoji_face .emoji56{background-position:-319px -86px;}
.emoji_face .emoji57{background-position:-348px -86px;}
.emoji_face .emoji58{background-position:-377px -86px;}
.emoji_face .emoji59{background-position:-406px -86px;}
.emoji_face .emoji60{background-position:0 -115px;}
.emoji_face .emoji61{background-position:-29px -115px;}
.emoji_face .emoji62{background-position:-58px -115px;}
.emoji_face .emoji63{background-position:-87px -115px;}
.emoji_face .emoji64{background-position:-116px -115px;}
.emoji_face .emoji65{background-position:-145px -115px;}
.emoji_face .emoji66{background-position:-174px -115px;}
.emoji_face .emoji67{background-position:-203px -115px;}
.emoji_face .emoji68{background-position:-232px -115px;}
.emoji_face .emoji69{background-position:-261px -115px;}
.emoji_face .emoji70{background-position:-290px -115px;}
.emoji_face .emoji71{background-position:-319px -115px;}
.emoji_face .emoji72{background-position:-348px -115px;}
.emoji_face .emoji73{background-position:-377px -115px;}
.emoji_face .emoji74{background-position:-406px -115px;}
.emoji_face .emoji75{background-position:0 -144px;}
.emoji_face .emoji76{background-position:-29px -144px;}
.emoji_face .emoji77{background-position:-58px -144px;}
.emoji_face .emoji78{background-position:-87px -144px;}
.emoji_face .emoji79{background-position:-116px -144px;}
.emoji_face .emoji80{background-position:-145px -144px;}
.emoji_face .emoji81{background-position:-174px -144px;}
.emoji_face .emoji82{background-position:-203px -144px;}
.emoji_face .emoji83{background-position:-232px -144px;}
.emoji_face .emoji84{background-position:-261px -144px;}
.emoji_face .emoji85{background-position:-290px -144px;}
.emoji_face .emoji86{background-position:-319px -144px;}
.emoji_face .emoji87{background-position:-348px -144px;}
.emoji_face .emoji88{background-position:-377px -144px;}
.emoji_face .emoji89{background-position:-406px -144px;}
.emoji_face .emoji90{background-position:0 -173px;}
.emoji_face .emoji91{background-position:-29px -173px;}
.emoji_face .emoji92{background-position:-58px -173px;}
.emoji_face .emoji93{background-position:-87px -173px;}
.emoji_face .emoji94{background-position:-116px -173px;}
.emoji_face .emoji95{background-position:-145px -173px;}
.emoji_face .emoji96{background-position:-174px -173px;}
.emoji_face .emoji97{background-position:-203px -173px;}
.emoji_face .emoji98{background-position:-232px -173px;}
.emoji_face .emoji99{background-position:-261px -173px;}
.emoji_face .emoji100{background-position:-290px -173px;}
.emoji_face .emoji101{background-position:-319px -173px;}
.emoji_face .emoji102{background-position:-348px -173px;}
.emoji_face .emoji103{background-position:-377px -173px;}
.emoji_face .emoji104{background-position:-406px -173px;}
.emoji_face .emoji105{background-position:0 -202px;}
.emoji_face .emoji106{background-position:-29px -202px;}
.emoji_face .emoji107{background-position:-58px -202px;}
.emoji_face .emoji108{background-position:-87px -202px;}
.emoji_face .emoji109{background-position:-116px -202px;}
.emoji_face .emoji110{background-position:-145px -202px;}
.emoji_face .emoji111{background-position:-174px -202px;}
.emoji_face .emoji112{background-position:-203px -202px;}
.emoji_face .emoji113{background-position:-232px -202px;}
.emoji_face .emoji114{background-position:-261px -202px;}
.emoji_face .emoji115{background-position:-290px -202px;}
.emoji_face .emoji116{background-position:-319px -202px;}
.emoji_face .emoji117{background-position:-348px -202px;}
.emoji_face .emoji118{background-position:-377px -202px;}
.emoji_face .emoji119{background-position:-406px -202px;}
.emoji_face .emoji120{background-position:0 -231px;}
.emoji_face .emoji121{background-position:-29px -231px;}
.emoji_face .emoji122{background-position:-58px -231px;}
.emoji_face .emoji123{background-position:-87px -231px;}
.emoji_face .emoji124{background-position:-116px -231px;}
.emoji_face .emoji125{background-position:-145px -231px;}
.emoji_face .emoji126{background-position:-174px -231px;}
.emoji_face .emoji127{background-position:-203px -231px;}
.emoji_face .emoji128{background-position:-232px -231px;}
.emoji_face .emoji129{background-position:-261px -231px;}
.emoji_face .emoji130{background-position:-290px -231px;}
.emoji_face .emoji131{background-position:-319px -231px;}
.emoji_face .emoji132{background-position:-348px -231px;}
.emoji_face .emoji133{background-position:-377px -231px;}
.emoji_face .emoji134{background-position:-406px -231px;}
.emoji_face .emoji135{background-position:0 -260px;}
.emoji_face .emoji136{background-position:-29px -260px;}
.emoji_face .emoji137{background-position:-58px -260px;}
.emoji_face .emoji138{background-position:-87px -260px;}
.emoji_face .emoji139{background-position:-116px -260px;}
.emoji_face .emoji140{background-position:-145px -260px;}
.emoji_face .emoji141{background-position:-174px -260px;}
.emoji_face .emoji142{background-position:-203px -260px;}
.emoji_face .emoji143{background-position:-232px -260px;}
.emoji_face .emoji144{background-position:-261px -260px;}
.emoji_face .emoji145{background-position:-290px -260px;}
.emoji_face .emoji146{background-position:-319px -260px;}
.emoji_face .emoji147{background-position:-348px -260px;}
.emoji_face .emoji148{background-position:-377px -260px;}
.emoji_face .emoji149{background-position:-406px -260px;}
.emoji_face .emoji150{background-position:0 -289px;}
.emoji_face .emoji151{background-position:-29px -289px;}
.emoji_face .emoji152{background-position:-58px -289px;}
.emoji_face .emoji153{background-position:-87px -289px;}
.emoji_face .emoji154{background-position:-116px -289px;}
.emoji_face .emoji155{background-position:-145px -289px;}
.emoji_face .emoji156{background-position:-174px -289px;}
.emoji_face .emoji157{background-position:-203px -289px;}
.emoji_face .emoji158{background-position:-232px -289px;}
.emoji_face .emoji159{background-position:-261px -289px;}
.emoji_face .emoji160{background-position:-290px -289px;}
.emoji_face .emoji161{background-position:-319px -289px;}
.emoji_face .emoji162{background-position:-348px -289px;}
.emoji_face .emoji163{background-position:-377px -289px;}
.emoji_face .emoji164{background-position:-406px -289px;}
.emoji_face .emoji165{background-position:0 -318px;}
.emoji_face .emoji166{background-position:-29px -318px;}
.emoji_face .emoji167{background-position:-58px -318px;}
@media-webkit-min-device-pixel-ratio2 {
.emoji_facea{background:url(../img/ENmQdtS.png) no-repeat;background-size:434px 347px;}
}


