@charset "utf-8";
/* qq_face */
.qq_face{margin-right:-1px;overflow:hidden;width:435px; border-top:1px solid #f0f0f0; border-left:1px solid #f0f0f0; }
.qq_facea{background:url(../img/15BPafa.png) no-repeat;border-bottom:1px solid #f0f0f0;border-right:1px solid #f0f0f0;cursor:pointer;float:left;font-size:0;height:28px;text-indent:-999em;width:28px; }
.qq_face .qqface0{background-position:0 0;}
.qq_face .qqface1{background-position:-29px 0;}
.qq_face .qqface2{background-position:-58px 0;}
.qq_face .qqface3{background-position:-87px 0;}
.qq_face .qqface4{background-position:-116px 0;}
.qq_face .qqface5{background-position:-145px 0;}
.qq_face .qqface6{background-position:-174px 0;}
.qq_face .qqface7{background-position:-203px 0;}
.qq_face .qqface8{background-position:-232px 0;}
.qq_face .qqface9{background-position:-261px 0;}
.qq_face .qqface10{background-position:-290px 0;}
.qq_face .qqface11{background-position:-319px 0;}
.qq_face .qqface12{background-position:-348px 0;}
.qq_face .qqface13{background-position:-377px 0;}
.qq_face .qqface14{background-position:-406px 0;}
.qq_face .qqface15{background-position:0 -29px;}
.qq_face .qqface16{background-position:-29px -29px;}
.qq_face .qqface17{background-position:-58px -29px;}
.qq_face .qqface18{background-position:-87px -29px;}
.qq_face .qqface19{background-position:-116px -29px;}
.qq_face .qqface20{background-position:-145px -29px;}
.qq_face .qqface21{background-position:-174px -29px;}
.qq_face .qqface22{background-position:-203px -29px;}
.qq_face .qqface23{background-position:-232px -29px;}
.qq_face .qqface24{background-position:-261px -29px;}
.qq_face .qqface25{background-position:-290px -29px;}
.qq_face .qqface26{background-position:-319px -29px;}
.qq_face .qqface27{background-position:-348px -29px;}
.qq_face .qqface28{background-position:-377px -29px;}
.qq_face .qqface29{background-position:-406px -29px;}
.qq_face .qqface30{background-position:0 -58px;}
.qq_face .qqface31{background-position:-29px -58px;}
.qq_face .qqface32{background-position:-58px -58px;}
.qq_face .qqface33{background-position:-87px -58px;}
.qq_face .qqface34{background-position:-116px -58px;}
.qq_face .qqface35{background-position:-145px -58px;}
.qq_face .qqface36{background-position:-174px -58px;}
.qq_face .qqface37{background-position:-203px -58px;}
.qq_face .qqface38{background-position:-232px -58px;}
.qq_face .qqface39{background-position:-261px -58px;}
.qq_face .qqface40{background-position:-290px -58px;}
.qq_face .qqface41{background-position:-319px -58px;}
.qq_face .qqface42{background-position:-348px -58px;}
.qq_face .qqface43{background-position:-377px -58px;}
.qq_face .qqface44{background-position:-406px -58px;}
.qq_face .qqface45{background-position:0 -87px;}
.qq_face .qqface46{background-position:-29px -87px;}
.qq_face .qqface47{background-position:-58px -87px;}
.qq_face .qqface48{background-position:-87px -87px;}
.qq_face .qqface49{background-position:-116px -87px;}
.qq_face .qqface50{background-position:-145px -87px;}
.qq_face .qqface51{background-position:-174px -87px;}
.qq_face .qqface52{background-position:-203px -87px;}
.qq_face .qqface53{background-position:-232px -87px;}
.qq_face .qqface54{background-position:-261px -87px;}
.qq_face .qqface55{background-position:-290px -87px;}
.qq_face .qqface56{background-position:-319px -87px;}
.qq_face .qqface57{background-position:-348px -87px;}
.qq_face .qqface58{background-position:-377px -87px;}
.qq_face .qqface59{background-position:-406px -87px;}
.qq_face .qqface60{background-position:0 -116px;}
.qq_face .qqface61{background-position:-29px -116px;}
.qq_face .qqface62{background-position:-58px -116px;}
.qq_face .qqface63{background-position:-87px -116px;}
.qq_face .qqface64{background-position:-116px -116px;}
.qq_face .qqface65{background-position:-145px -116px;}
.qq_face .qqface66{background-position:-174px -116px;}
.qq_face .qqface67{background-position:-203px -116px;}
.qq_face .qqface68{background-position:-232px -116px;}
.qq_face .qqface69{background-position:-261px -116px;}
.qq_face .qqface70{background-position:-290px -116px;}
.qq_face .qqface71{background-position:-319px -116px;}
.qq_face .qqface72{background-position:-348px -116px;}
.qq_face .qqface73{background-position:-377px -116px;}
.qq_face .qqface74{background-position:-406px -116px;}
.qq_face .qqface75{background-position:0 -145px;}
.qq_face .qqface76{background-position:-29px -145px;}
.qq_face .qqface77{background-position:-58px -145px;}
.qq_face .qqface78{background-position:-87px -145px;}
.qq_face .qqface79{background-position:-116px -145px;}
.qq_face .qqface80{background-position:-145px -145px;}
.qq_face .qqface81{background-position:-174px -145px;}
.qq_face .qqface82{background-position:-203px -145px;}
.qq_face .qqface83{background-position:-232px -145px;}
.qq_face .qqface84{background-position:-261px -145px;}
.qq_face .qqface85{background-position:-290px -145px;}
.qq_face .qqface86{background-position:-319px -145px;}
.qq_face .qqface87{background-position:-348px -145px;}
.qq_face .qqface88{background-position:-377px -145px;}
.qq_face .qqface89{background-position:-406px -145px;}
.qq_face .qqface90{background-position:0 -174px;}
.qq_face .qqface91{background-position:-29px -174px;}
.qq_face .qqface92{background-position:-58px -174px;}
.qq_face .qqface93{background-position:-87px -174px;}
.qq_face .qqface94{background-position:-116px -174px;}
.qq_face .qqface95{background-position:-145px -174px;}
.qq_face .qqface96{background-position:-174px -174px;}
.qq_face .qqface97{background-position:-203px -174px;}
.qq_face .qqface98{background-position:-232px -174px;}
.qq_face .qqface99{background-position:-261px -174px;}
.qq_face .qqface100{background-position:-290px -174px;}
.qq_face .qqface101{background-position:-319px -174px;}
.qq_face .qqface102{background-position:-348px -174px;}
.qq_face .qqface103{background-position:-377px -174px;}
.qq_face .qqface104{background-position:-406px -174px;}
@media-webkit-min-device-pixel-ratio2 {
.qq_facea{background:url(../img/xBw_Qtm.png) no-repeat;background-size:434px 202px;}
}
