<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-Hans">
  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="邱文武,邱润彬">
    <!--if lt IE 9]><script src="../../static/js/html5.min.js"></script><![endif]-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/swiper.min.css">
    <link rel="stylesheet" href="../../static/css/mm-component.css">
    <link rel="stylesheet" href="../../static/css/mm-layout.css">
    <link rel="stylesheet" href="../../static/css/mm-theme.css">
    <script src="../../static/js/html5.min.js"></script>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/zepto.min.js"></script>
    <script src="../../static/js/mm-sdk.js"></script>
    <script src="../../static/js/mm-ui.js"></script>
    <title>超级美眉</title></head>

  <body>
    <div id="app" class="layout">
		测试
   </div>
  </body>

</html>