<!doctype html>
<html lang="zh-Hans">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/swiper.min.css">
	<link rel="stylesheet" href="../css/mm.css">
	<script src="../js/html5.min.js"></script>
	<script src="../js/jquery-3.3.1.min.js"></script>
	<script src="../js/swiper.min.js"></script>
	<script src="../js/mm-ui.js"></script>
    <title>超级美眉</title>
  </head>
  <body>
	<div id="app" class="layout">
		<header>页头</header>
		<footer>页脚</footer>
		<main>
			<aside>侧边栏</aside>
			<article>
				<header>1231223</header>
				<section>3333</section>
				<footer>1231223</footer>
			</article>
		</main>
	</div>
  </body>
</html>